img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 110px;
}

.search {
    text-align: center;
}
.searchbar {
    text-align: center;
    width: 500px;
    box-shadow: 0 0 2px #c7c7c7;
    height: 40px;
    margin-top: 25px; 
    border-radius: 50px;
    border: #c7c7c7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

li {
    display: inline;
}

li a {
    color: #575757;
    font-size: 11px;
    text-decoration: none;
}
